section{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section img{
    width:80%;
}

section h1,
section p{
    color:wheat;
    text-align: center;
    font-weight: 100;
}

section h1{
    font-size: 3.5rem;
}

section p{
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 0.9rem 0;
    opacity: 0.6;
}


/* Mobile S (small phones) */
@media (min-width: 320px) and (max-width: 374.98px) {
    /* Your styles here */
    section img{
        width:100%;
        height: auto;
    }
  }
  
  /* Mobile M (medium phones) */
  @media (min-width: 375px) and (max-width: 424.98px) {
    /* Your styles here */

  }
  
  /* Mobile L (large phones) */
  @media (min-width: 425px) and (max-width: 767.98px) {
    /* Your styles here */

  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023.98px) {
    /* Your styles here */

  }
  
  /* Laptop */
  @media (min-width: 1024px) and (max-width: 1439.98px) {
    /* Your styles here */

  }
  
  /* Laptop L (large laptops) */
  @media (min-width: 1440px) {
    /* Your styles here */

  }
  

